*{
    padding: 0;
    margin: 0;
    font-size: 100%;
}
html{
    box-sizing: border-box;
    margin-left: 48px;
    margin-right: 48px;
}
.header{
    align-items: center;
}
.header_img{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Victor Mono', monospace;
}
a{
    text-decoration: none;
    color: black;
}
body{
    display: block;
}
.container{
    font-size: 2.5em;
    border-top: 0.12em solid black;
}
h1{
    font-family: 'Victor Mono', monospace;
    font-size: 2em;
    font-weight: 800;
    margin: 1em 0;
    background-color: greenyellow;
    text-align: center;
    transform: rotate(-5deg);
}
p{
    font-family: 'Victor Mono', monospace;
    font-size: 0.3em;
}
footer{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socials{
    height: 20px;
}
.socials img{
    height: 100%;
}
footer p{
    font-size: 1em;
}