*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 100px;
    margin-top: 60px;
    font-family: "input-mono-narrow", monospace;
    font-style: normal;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
    font-size: 18pt;
    font-weight: 700;
    text-decoration: none;
    color: black;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-family: 'roc-grotesk', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    margin-top: 50px;
    text-align: center;
    width: 50%;
}
.main-img{
    width: 100%;
    margin-top: 50px;
}
.duoimg1{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-top: 20px;
}
.img1{
    width: 480px;
    height: 352px;
    padding-right: 20px;
}
.img2{
    width: 270px;
    height: 352px;
}
.duoimg2{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    margin-top: 20px;
}
.img3{
    width: 407px;
    height:352px;
    margin-right: 20px;
}
.img4{
    width: 286px;
    height: 352px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

@media (max-width:500px){
    body{
        margin: 50px;
        margin-top: 60px;
        font-family: "input-mono-narrow", monospace;
        font-style: normal;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    a{
        font-size: 18pt;
        font-weight: 700;
        text-decoration: none;
        color: black;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2{
        font-family: 'roc-grotesk', sans-serif;
        font-weight: 300;
        font-size: 16pt;
        margin-top: 50px;
        text-align: center;
        width: 100%;
    }
    .main-img{
        width: 100%;
        margin-top: 50px;
    }
    .duoimg1{
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 100%;
        margin-top: 20px;
    }
    .img1{
        width: 100%;
        height: 100%;
        padding-right: 0;
        padding-bottom: 20px;
    }
    .img2{
        width: 100%;
        height: 100%;
    }
    .duoimg2{
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 100%;
        margin-top: 20px;
    }
    .img3{
        width: 100%;
        height:100%;
        margin-right: 0;
        padding-bottom: 20px;
    }
    .img4{
        width: 100%;
        height: 100%;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    footer{
        margin-top: 10%;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
}