*{
    padding: 0;
    margin: 0;
    font-size: 100%;
}
html{
    box-sizing: border-box;
}
.close{
    display: flex;
    justify-content: right;
    margin: 48px;
}
a{
    text-decoration: none;
    color: black;
}
.text{
    margin: 48px;
}
h1{
    font-family: 'Victor Mono', monospace;
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 0.2em;
}
h2{
    font-family: 'Victor Mono', monospace;
    margin-bottom: 1em;
    font-weight: 300;
}
p{
    margin-bottom: 1em;
    padding-right: 50%;
    font-family: 'Roboto', sans-serif;
}
.containers{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}
.container{
    min-width: 350px;
    max-width: 900px;
    height: 350px;
}
.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
