*{
    padding: 0;
    margin: 0;
    font-size: 100%;
}
html{
    box-sizing: border-box;
}
.close{
    display: flex;
    justify-content: right;
    margin: 48px 60px 0;
}
a{
    text-decoration: none;
    color: black;
}
.text{
    margin: 48px 80px;
}
h1{
    font-family: 'Victor Mono', monospace;
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 0.2em;
}
h2{
    font-family: 'Victor Mono', monospace;
    margin-bottom: 2em;
    font-weight: 300;
}
p{
    margin-bottom: 1em;
    padding-right: 50%;
    font-family: 'Roboto', sans-serif;
}
mark{
    background-color: greenyellow;
}
italic{
    font-style: italic;
}
.containers{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}
.container{
    min-width: 300px;
    max-width: 900px;
    height: 200px;
}
.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgbox{
    width:100%;
}
img{
    width: 100%;
    object-fit: cover;
}
.trio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 80px;
}
.img-redes{
    width: 200px;
    height: auto;
}
